    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: Arial, sans-serif;
      overflow: hidden;
    }

    .slider-wrapper {
      position: relative;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }

    .slides-container {
      display: flex;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
    }

    .slide {
      display: flex;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
    }

    .left-panel, .right-panel {
      flex: 1;
      position: relative;
      overflow: hidden;
    }

    .left-panel img, .right-panel img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s ease;
      z-index: 1;
    }

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  z-index: 3;
}

.info-button{
    margin: 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    color: #fff;
    letter-spacing: 0.2rem;
    cursor: pointer;
    padding: 2%;
    position: absolute;
    right: 0;
     transform: translate(-50%, -50%);
      left: 50%;
     top: 47%;
}

    .left-panel.hovered img {
      filter: grayscale(100%);
    }

    .left-panel.hovered .info-text {
      display: flex;
    }


 .controls {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  pointer-events: none; 
}

.next{
margin-left: 88%;
}

.controls button{
    background-color: transparent;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    pointer-events: auto;
    color: whitesmoke
}